{
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "eslint.validate": [
    "javascript",
    "javascriptreact",
    "typescript",
    "typescriptreact"
  ],
  "typescript.tsdk": "node_modules/typescript/lib",
  "typescript.enablePromptUseWorkspaceTsdk": true,
  "tailwindCSS.includeLanguages": {
    "typescript": "javascript",
    "typescriptreact": "javascript"
  },
  "tailwindCSS.experimental.classRegex": [
    ["cva\\(([^)]*)\\)", "['\"`]([^'\"`]*)['`\"]"],
    ["cn\\(([^)]*)\\)", "['\"`]([^'\"`]*)['`\"]"],
    ["clsx\\(([^)]*)\\)", "['\"`]([^'\"`]*)['`\"]"],
    ["classnames\\(([^)]*)\\)", "['\"`]([^'\"`]*)['`\"]"],
    ["twMerge\\(([^)]*)\\)", "['\"`]([^'\"`]*)['`\"]"],
    ["twJoin\\(([^)]*)\\)", "['\"`]([^'\"`]*)['`\"]"],
    ["className\\s*=\\s*['\"`]([^'\"`]*)['\"`]", ""]
  ],
  "files.associations": {
    "*.css": "tailwindcss"
  },
  "emmet.includeLanguages": {
    "javascript": "javascriptreact",
    "typescript": "typescriptreact"
  },
  "[javascript][javascriptreact][typescript][typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json][jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css][scss][less]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[markdown][mdx]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "cSpell.words": [
    "clsx",
    "nextjs",
    "strapi",
    "tailwindcss",
    "typesafe"
  ]
}